@charset "UTF-8";

.asignacion.current {
  background: #63b6fb;
}

.input-auth {
  border: 1px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navbar-toggler {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.nav-trimestre {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.selectize-dropdown .option {
  cursor: pointer;
}

div.dataTables_wrapper div.dataTables_paginate {
  padding: 10px;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header button {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.selectize-control.single .selectize-input {
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
  background-color: #fff;
  background-image: none;
  border: 0px;
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
  border: 0;
}

.btn {
  color: #fff;
  padding: 6px 20px;
}

.btn:focus,
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.1rem #fff4a4bf !important;
          box-shadow: 0 0 0 0.1rem #fff4a4bf !important;
}

.form-control {
  border: 0px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
}

.no-button {
  background: transparent;
  border: 0;
  padding: 0;
}

.table th,
.table td {
  border-bottom: 0px !important;
}

.table thead th {
  border-top: 0px !important;
}

thead {
  border-radius: 10px 10px 0 0;
  background: #f7f7f7;
  -webkit-box-shadow: 0px -1px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px -1px 2px 0 rgba(0, 0, 0, 0.2);
}

tbody {
  background: #fff;
}

.main-login {
  height: 100vh;
}

body.no-scroll {
  overflow: hidden;
}

.horario {
  background: #fff;
}

#expandir-horario {
  position: fixed;
  bottom: 25px;
  right: 50px;
  z-index: 10000;
}

button#expandir-horario i {
  color: #fff;
  position: relative;
  z-index: 10000;
}

button#expandir-horario.expandir-circulo:before {
  -webkit-transform: scale(150);
          transform: scale(150);
}

button#expandir-horario:hover {
  cursor: pointer;
}

button#expandir-horario:before {
  background: #229afe;
  bottom: 0;
  content: '';
  height: 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  width: 25px;
  z-index: 10000;
}

.horario.full-table {
  background: #fff;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.form-busqueda-programacion > div {
  margin-right: 10px;
}

.form-busqueda-programacion .selectize-control {
  min-width: 240px;
}

.calendar-img {
  -webkit-animation: ani1 2s 0s infinite;
          animation: ani1 2s 0s infinite;
  position: absolute;
  top: 0;
  right: 30%;
  width: 6%;
}

.tarjeta-img {
  -webkit-animation: ani1 2s 0s infinite;
          animation: ani1 2s 0s infinite;
  left: 40%;
  position: absolute;
  top: 22%;
  width: 7.5%;
}

.body-login {
  background-image: url(/images/siplatri-fondo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.acciones a,
.acciones button {
  color: #8c8c8c;
  padding: 5px;
}

.acciones a:hover,
.acciones button:hover {
  opacity: 0.7;
}

.acciones button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/*
 * Animacíon de td activo
 */

.animated-background {
  -webkit-animation-duration: 1.75s;
          animation-duration: 1.75s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #F6F6F6;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #F6F6F6), color-stop(18%, #F0F0F0), color-stop(33%, #F6F6F6));
  background: linear-gradient(to right, #F6F6F6 8%, #F0F0F0 18%, #F6F6F6 33%);
  background-size: 800px 104px;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

.aside-bar {
  background: #2b3035;
  display: block;
  position: fixed;
  height: 100%;
  top: 0px;
  width: 240px;
  z-index: 9997;
}

.aside-bar .aside-header {
  background-color: #43474c;
  color: #fff;
  padding: 14px;
}

.aside-bar .aside-header .editar-trimestre {
  top: 0;
  right: 0;
}

.aside-bar .link-importante {
  background-color: #5b5252;
}

.aside-bar ul li a {
  color: #e0e0e0;
}

.aside-bar a.nav-link.active {
  background-color: #5b5252;
  -webkit-box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(117, 117, 117, 0.72);
          box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(117, 117, 117, 0.72);
}

.aside-bar a.nav-link:hover {
  -webkit-box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(117, 117, 117, 0.72);
          box-shadow: 1px 4px 8px 4px rgba(0, 0, 0, 0.2), inset 0 1px 0 rgba(117, 117, 117, 0.72);
  background-color: rgba(91, 82, 82, 0.6);
}

.tooltip {
  z-index: 5;
}

.tooltip .arrow::before {
  right: 0;
  border-width: 0.4rem 0.4rem 0.4rem 0;
  border-color: #6daced;
}

.tooltip-inner {
  line-height: 1.3;
  background-color: #5ea4ec;
}

.aside-bar .fa-calendar-alt {
  color: #61a950;
  -webkit-animation: ani1 2s 0s infinite;
          animation: ani1 2s 0s infinite;
}

@-webkit-keyframes ani1 {
  0 {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }

  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes ani1 {
  0 {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }

  50% {
    -webkit-transform: translateX(3px);
            transform: translateX(3px);
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

main.auth {
  padding-left: 240px;
  padding-top: 2rem !important;
}

.circulo-verde {
  color: #28ff4e;
}

.circulo-amarillo {
  color: #ffd01b;
}

.circulo-rojo {
  color: #ff2828;
}

div#DataTables_Table_0_wrapper > .row > div:nth-child(1) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

div#DataTables_Table_0_wrapper > .row > div:nth-child(2) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#DataTables_Table_0_length {
  text-align: right;
}

#DataTables_Table_0_length label {
  color: #b5b5b5;
  padding: 5px 14px;
}

#DataTables_Table_0_filter {
  bottom: 30px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  display: none;
  z-index: 999;
}

#DataTables_Table_0_filter label {
  margin: 0;
  width: 100%;
}

#DataTables_Table_0_filter label:after {
  background: #3490dc;
  content: '\F002';
  color: #fff;
  font-family: 'Font Awesome 5 Free';
  font-weight: bolder;
  position: absolute;
  padding: 10px;
}

#DataTables_Table_0_filter label input {
  border: 0;
  border-radius: 0px;
  height: 42px;
  width: 250px;
}

.asignacion {
  background-color: #657a9a;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  margin-top: 28px;
  padding: 10px;
  position: relative;
}

.asignacion .custom-checkbox label {
  top: -12px;
}

.asignacion.asignacion-vencida {
  background: #c5c5c5;
}

.asignacion:after {
  color: #fcf;
}

.asignacion p {
  word-break: break-word;
}

.asignacion:hover {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.franja {
  border-bottom: 1px solid #ececec;
}

.franja .col-md-1,
.franja .col-md-2 {
  min-height: 85px;
  padding: 2px;
}

.franja > .row > .col-md-1 {
  background: #f8fafc;
}

.franja .clase.col-md-2:hover {
  background: #f5f5f5;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  cursor: pointer;
}

.hora {
  top: 40%;
  position: absolute;
}

.dia {
  color: #8c8c8c;
}

.clase.ocupado:after {
  content: '' !important;
}

.navbar-expand-md .navbar-collapse {
  display: none !important;
}

@media (max-width: 1024px) {
  .asignacion p.nombre-instructor {
    max-height: 35px;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .navbar-expand-md .navbar-toggler {
    display: block !important;
  }

  .navbar-brand {
    display: block !important;
  }

  .navbar-laravel {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .aside-bar,
  .dataTables_length {
    display: none;
  }

  main.auth {
    padding-left: 0px;
  }

  .hora {
    text-align: center;
    width: 100%;
  }

  .white {
    background: transparent;
  }

  .clase {
    background: #fff;
    margin-bottom: 10px;
    padding: 10px !important;
  }
}

@media (max-width: 768px) {
  .franja .col-md-1,
  .franja .col-md-2 {
    border-bottom: 1px solid #ececec;
  }

  .hora {
    font-size: 24px;
  }

  .modal-header button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .modal-header h3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 1025px) {
  .aside-bar {
    display: block !important;
  }

  #DataTables_Table_0_filter {
    display: block;
    margin-right: 240px;
    left: 80px;
  }

  .navbar-expand-md .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) {
  .franja .col-md-1,
  .franja .col-md-2 {
    border-right: 1px solid #ececec;
  }
}

#tooltip {
  display: inline-block;
  background: #ffffff;
  color: #643045;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  visibility: visible;
  content: '';
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}

